body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #FCE7C8;
}
input {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #80CBC4;
}

button:hover{
    color:beige;
    background-color: black;
}
#mensaje {
    margin-top: 10px;
    font-weight: bold;
}
#codigoGenerado {
    font-size: 18px;
    margin: 10px;
}

div{
    margin: 0 auto;
}
